*{
    margin: 0;
    padding: 0;
}

/* header section css  */

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.header-content{
    text-align: right;
    width: 525px;
    padding-left: 438px;
}

.header-title{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.header-des{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;

}


.btn-primary{
    color: #005FAC;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 25px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #ffffff50;
    color: #fff;
}


/* Header section style end  */




/* service section css style  */


.service-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 220px;
}


.service-info{
    padding-left: 100px;
}


.service-title{
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    

}


.service-des{
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    

}


.service-check{
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    /* margin-left: 20px; */
    
    
}

.service-check li{
    list-style: none;
}

.service-check ol li:before {
    content: '✓';
    margin: 0px 5px;
    color: rgb(5, 201, 54);
  }



  /* Our plan model css style  */


  .plan h2{
     text-align: center;
     margin: 25px 0px;
     color:#151414;
     text-align: center;
     font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    

  }
  .our-plan{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }

  .plan-model img{
    margin-left: 50px;
  }
  .plan-model h3{
    color:#151414;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-weight: 700;
    margin: 16px;
    

  }


  .plan-model p{
    color: var(--dark-03, #737272);
   text-align: center;
   font-family: Work Sans;
   font-size: 25px;
    font-weight: 500;


  }



  /* call now style css start  */


  .call{
    display: flex;
    justify-content: space-around;
    align-items: left;
    background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url("images/watch.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 230px;
    height: 300px;
    justify-content: left;

  }

  .call-around{
    text-align: left;
    padding: 30px 25px;
    
    
  }

  .call-around h2{
    color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-weight: 700;
text-align: left;
  }




  /* footer section start */


  .footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: #151414;
    
height: 577px;


  }


  .footer-left{


  }


  .footer-title{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
    margin: 15px 0px;
;

  }
  
  .footer-des{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 15px;
  }


  .footer-right{
    

  }

  .footer-right > input[type="email"]{
         background-color:#ffffff00;
         border: none;
         border-radius: 5px;
         padding: 20px;
         width: 325px;
         margin: 20px 0px;
         border: 1px solid #FFF;
         color: #fff;
  }
  .footer-sub{
    color: #FFF;
   font-family: Work Sans;
  font-size: 25px;
  font-weight: 600;
  }


  .footer-img{
    margin-top: 15px;
  }

  .footer-img img{
       margin-right: 10px;
  }