*{
    margin: 0;
    padding: 0;
}

/* header section css  */

.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("images/banner/banner3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
}

.header-content{
    text-align: right;
    width: 525px;
    padding-left: 438px;
}

.header-title{
    color: #FFF;
    text-align: right;
    font-family: Work Sans;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.header-des{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;

}


.btn-primary{
    color: #005FAC;
    border: none;
    background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 25px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: #ffffff50;
    color: #fff;
}


/* Header section style end  */




/* service section css style  */


.service-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 220px;
}


.service-info{
    padding-left: 100px;
}


.service-title{
    color: #151414;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    

}


.service-des{
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    

}


.service-check{
    color:#444343;
    font-family: Work Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;
    /* margin-left: 20px; */
    
    
}

.service-check li{
    list-style: none;
}

.service-check ol li:before {
    content: '✓';
    margin: 0px 5px;
    color: rgb(5, 201, 54);
  }